{% assign collection_url = page.url | split: "/" | pop | join "/" | strip | prepend: "/" | append: "/" | relative_url %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="{{ "/" | relative_url }}">
		<img src="{{ "/favicon-x128.png" | relative_url }}" width="30" height="30" class="d-inline-block align-top" alt="">
		GBDocs
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{{ include.content }}
		</ul>

		{% if site.github %}
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ site.github }}">GitHub</a>
				</li>
			</ul>
		{% endif %}
	</div>
</nav>
