<div class="table-responsive">
	<table{% if include.id != "" %} id="{{ include.id }}"{% endif %} class="table opcode-table table-bordered table-sm{% if page.theme == "dark" %} table-dark{% endif %}">
		<thead>
			<tr>
				{% for i in (-1..15) %}
					<th>{% unless i == -1 %}x{% include hex.html value=i prepend=false %}{% endunless %}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for i in (0..15) %}
				<tr>
					<td>{% unless i == -1 %}{% include hex.html value=i prepend=false %}x{% endunless %}</td>

					{% for j in (0..15) %}
						{% include op-table-cell.html set=include.set row=i column=j %}
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
