<div class="row">
	<div id="legend" class="col-md-12 col-lg-6 mb-3">
		<span class="legend"><span class="legend-color legend-control"></span> Misc / control instructions</span>
		<span class="legend"><span class="legend-color legend-jump"></span> Jumps / calls</span>
		<span class="legend"><span class="legend-color legend-load"></span> 8-bit load instructions</span>
		<span class="legend"><span class="legend-color legend-load16"></span> 16-bit load instructions</span>
		<span class="legend"><span class="legend-color legend-arithmetic"></span> 8-bit arithmetic / logical instructions</span>
		<span class="legend"><span class="legend-color legend-arithmetic16"></span> 16-bit arithmetic / logical instructions</span>
		<span class="legend"><span class="legend-color legend-bit"></span> 8-bit shift, rotate and bit instructions</span>
	</div>

	<div id="how-to-read" class="col-md-12 col-lg-6 mb-3">
		<table id="demo-table" class="mb-3">
			<tbody>
				<tr><td></td> <td></td> <td><span>INS reg</span><br></td> <td>←</td> <td>Instruction mnemonic</td></tr>
				<tr><td>Length in bytes</td> <td>→</td> <td><span>2&nbsp;&nbsp;8</span><br></td> <td>←</td> <td>Duration in T-states<sup>*</sup></td></tr>
				<tr><td></td> <td></td><td><span>Z N H C</span></td> <td>←</td> <td>Flags affected</td></tr>
			</tbody>
		</table>

		<p><sup>*)</sup> Often instruction durations are given in “M-cycles” (machine cycles) instead of “T-states” (system clock ticks) because each instruction takes a multiple of four T-states to complete, thus a <kbd>NOP</kbd> takes one M-cycle or four T-states to complete.</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-lg-6">
		<div id="flags" class="card mb-3{% if page.theme == "dark" %} bg-secondary{% endif %}">
			<div class="card-body">
				<p>
					<kbd>Z</kbd> - Zero Flag<br>
					<kbd>N</kbd> - Subtract Flag<br>
					<kbd>H</kbd> - Half Carry Flag<br>
					<kbd>C</kbd> - Carry Flag<br>
					<kbd>0</kbd> - The flag is reset<br>
					<kbd>1</kbd> - The flag is set<br>
					<kbd>-</kbd> - The flag is left untouched
				</p>

				<p>If an operation has the flags defined as <kbd>Z</kbd>, <kbd>N</kbd>, <kbd>H</kbd>, or <kbd>C</kbd>, the corresponding flags are set as the operation performed dictates.</p>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-6">
		<div id="conditional-durations" class="card mb-3{% if page.theme == "dark" %} bg-secondary{% endif %}">
			<div class="card-body">
				The duration of conditional calls and returns is different when action is taken or not. This is indicated by two numbers separated by “/”. The higher number (on the left side of “/”) is the duration of the instruction when action is taken, the lower number (on the right side of “/”) is the duration of the instruction when action is not taken.
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div id="datatypes" class="card mb-3{% if page.theme == "dark" %} bg-secondary{% endif %}">
			<div class="card-body">
				<p><kbd>d8</kbd> means immediate 8-bit data</p>
				<p><kbd>d16</kbd> means immediate 16-bit data</p>
				<p><kbd>a8</kbd> means 8-bit unsigned data, which is added to $FF00 in certain instructions (replacement for missing IN and OUT instructions)</p>
				<p><kbd>a16</kbd> means 16-bit address</p>
				<p><kbd>r8</kbd> means 8-bit signed data</p>
			</div>
		</div>

		<div id="alternatives" class="card mb-3{% if page.theme == "dark" %} bg-secondary{% endif %}">
			<div class="card-body">
				<p><kbd>LD A, (C)</kbd> has the alternative mnemonic <kbd>LD A, ($FF00+C)</kbd></p>
				<p><kbd>LD (C), A</kbd> has the alternative mnemonic <kbd>LD ($FF00+C), A</kbd></p>
				<p><kbd>LDH A, (a8)</kbd> has the alternative mnemonic <kbd>LD A, ($FF00+a8)</kbd></p>
				<p><kbd>LDH (a8), A</kbd> has the alternative mnemonic <kbd>LD ($FF00+a8), A</kbd></p>
				<p><kbd>LD A, (HL+)</kbd> has the alternative mnemonic <kbd>LD A, (HLI)</kbd> or <kbd>LDI A, (HL)</kbd></p>
				<p><kbd>LD (HL+), A</kbd> has the alternative mnemonic <kbd>LD (HLI), A</kbd> or <kbd>LDI (HL), A</kbd></p>
				<p><kbd>LD A, (HL-)</kbd> has the alternative mnemonic <kbd>LD A, (HLD)</kbd> or <kbd>LDD A, (HL)</kbd></p>
				<p><kbd>LD (HL-), A</kbd> has the alternative mnemonic <kbd>LD (HLD), A</kbd> or <kbd>LDD (HL), A</kbd></p>
				<kbd>LD HL, SP+r8</kbd> has the alternative mnemonic <kbd>LDHL SP, r8</kbd>
			</div>
		</div>
	</div>
</div>
