<h1><small><a href="#standard">🔗</a></small> Game Boy CPU (LR35902) instruction set (<a href="{{ "/Opcodes.json" | relative_url }}">JSON</a>)</h1>

<div class="row">
	<div class="col">
		{% if page.octalTables %}
			{% include optables/op-table-oct.html set="unprefixed" id="standard" %}
		{% else %}
			{% include optables/op-table.html set="unprefixed" id="standard" %}
		{% endif %}
	</div>
</div>

<h2><small><a href="#prefixed">🔗</a></small> Prefixed ($CB $xx)</h2>

<div class="row">
	<div class="col">
		{% if page.octalTables %}
			{% include optables/op-table-oct.html set="cbprefixed" id="prefixed" %}
		{% else %}
			{% include optables/op-table.html set="cbprefixed" id="prefixed" %}
		{% endif %}
	</div>
</div>