<!DOCTYPE html>
<head>
	<title>{{ site.title }}</title>
	<meta charset='utf-8'/>

	<meta name='description' content='{{ site.description }}'/>
	<meta name="keywords" content="Game Boy, GameBoy, DMG, CGB, GBC, SGB, Nintendo, LR35902, CPU, Opcodes, Instructions" />

	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'/>
	{% if page.canonical %}<link rel="canonical" href="{{ page.canonical }}">{% endif %}

	<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
	<link rel="icon" type="image/png" href="{{ "/favicon.png" | relative_url}}" sizes="16x16">
	<link rel="icon" type="image/png" href="{{ "/favicon-x128.png" | relative_url}}" sizes="128x128">
	<link rel="apple-touch-icon" sizes="128x128" href="{{ "/favicon-x128.png" | relative_url}}">

	{% capture ogimage %}/assets/opengraph-image{% if page.theme %}-{{ page.theme }}{% endif %}{% if page.octalTables %}-octal{% endif %}.png{% endcapture %}

	<meta property="og:image" content="{{ ogimage | strip | relative_url }}">

	<meta name="google-site-verification" content="EoI79Ar6lCYY8kCtwd17i7PwcSF6lE6hHQ4AaKXHuQc" />
</head>
<body class="{% if page.theme %}theme-{{ page.theme }}{% endif %}{% if page.theme == "dark" %} bg-dark text-white{% endif %}">
	{{ content }}
</body>
</html>